<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--project-name</key>
	<string>PixateFreestyle</string>
	<key>--project-version</key>
	<string>2.1.0</string>
	<key>--project-company</key>
	<string>Pixate, Inc</string>
	<key>--company-id</key>
	<string>com.pixate</string>
	<key>--output</key>
    <string>~/.pixatefreestyle/docs</string>
	<key>--docset-atom-filename</key>
	<string>pixatefreestyle-docs.atom</string>
	<key>--docset-package-filename</key>
	<string>com.pixate.PixateFreestyle.xar</string>
	<key>--docset-feed-url</key>
	<string>dev-reference</string>
	<key>--docset-package-url</key>
	<string>dev-reference</string>
</dict>
</plist>
