.actionSheetButton {
  border-radius    : 5px;
  font-family      : "Helvetica";
  font-size        : 13px;
  font-weight      : bold;
  color            : #ffffff;
  background-image : linear-gradient(#215a88, #4d93dd);
  border-width     : 1px;
  border-color     : #212325;
  box-shadow       : inset 0 0 1px rgba(101, 177, 232, 0.9),
  0 1px 2px rgba(0,0,0,0.5);
}

#myActionSheet1 {
  background-image: linear-gradient(#3c4145, #585e62);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);
}

#myActionSheet1 label {
  font-family      : "Helvetica";
  font-size        : 15px;
  font-weight      : bold;
  color            : #ffffff;
}

/* Alter preview pane appearance */
#previewView {
  background-image : linear-gradient(#292e31, #3a3f42);
}
