/* MKMapView with custom pins (annotations).
 */
#myMap {
    position  : 25 25;
    size      : 450 285;
}

#myMapBackground {
  background-image : linear-gradient(#292e31, #3a3f42);
  background-size  : 495 330;
  border-radius    : 3;
  position         : 3 3;
  size             : 495 330;
}

.myAnnotations {
  border-radius    : 8px
  background-image : linear-gradient(#215a88, #4d93dd);
  background-size  : 16px 16px;
  border-width     : 1px;
  border-color     : #163d61
  box-shadow       : inset 0 1px 0 #39acff,
                           0 0 6px rgb(0, 132, 255);
}
