/* UIPickerView styled by accessing the underlying 
 * UITableView and UITableViewCells.
 */
#picker2 table-view{
  background-image: linear-gradient(#292e31, #3a3f42);
}

#picker2 table-view-cell {
  color            : #ffffff;
  background-image : linear-gradient(#3c4145, #585e62);
  border-width     : 1px;
  border-color     : #212325;
  border-radius    : 5px;
  box-shadow       : inset 0 1px 0 rgba(255,255,255, 0.3),
                     0 1px 1px rgba(0,0,0,0.5);
}

/* Alter preview pane appearance */
#previewView {
  background-image : linear-gradient(#292e31, #3a3f42);
}

