#mySearch1 {
    background-color : #575d61
    box-shadow       : 0 2px 1px rgba(0,0,0,0.5);
}

#mySearch2 {
    background-color : #4b91dd;
    box-shadow       : 0 2px 1px rgba(0,0,0,0.5);
}

#mySearch3 {
    background-color : #6a965a;
    box-shadow       : 0 2px 1px rgba(0,0,0,0.5);
}

/* Alter preview pane appearance */
#previewView {
  background-image : linear-gradient(#292e31, #3a3f42);
}
