#seg1  {
  background-image : linear-gradient(#7c8084,#c8ced2);
  border-radius    : 3px;
  border-color     : #1f2124;
  border-width     : 1px;
  color            : #191a1b;
  box-shadow       : inset 0 1px 0 #e2e6e8, 
                           0 0 1px rgba(0,0,0,0.3);
}

#seg1 divider {
  background-image : linear-gradient(#505354, #7f8385);
  background-size  : 1 20;
}

#seg2  {
  border-radius    : 5px;
  color            : white;
  background-color : #2b2e31
  box-shadow       : inset 0 1px 1px rgba(0,0,0,0.5),
                       0 1px 0 rgba(255,255,255,0.1);
}
#seg2 divider { 
  background-color : #212325; 
  background-size  : 1 10 }

#seg3  {
  background-color : #4d93dd;
}

/* Alter preview pane appearance */
#previewView {
  background-image : linear-gradient(#292e31, #3a3f42);
}
