/* Note: color property is not supported on iOS 5.1 */

#stepper1 {
  color   : #306daa;
  opacity : 1;
}

#stepper2 {
  color   : #306daa;
  opacity : .8;
}

#stepper3 {
  color   : #306daa;
  opacity : .6;
}

#stepper4 {
  color   : #306daa;
  opacity : .4;
}

#stepper5 {
  color   : #306daa;
  opacity : .2;
}

/* Alter preview pane appearance */
#previewView {
  background-image : linear-gradient(#292e31, #3a3f42);
}
