/* UITableView with optional (iOS 6 only) UIRefreshControl;
 * pull table cells down to see the custom styled refresh.
 */
#myTable {
    background-color : #f1f1f1;
    separator-style  : solid-line;
}
#myTable label { 
    color : #444444;
}
#myTable table-view-headerfooter-view {
    background-color : #1959c9;
}
#myTable table-view-headerfooter-view label {
    color : white;
}

#myRefreshControl image-view:nth-child(2) {
    background-image : linear-gradient(red, #1959c9);
    border-radius    : 10px;
    border-width     : 1px;
    border-color     : gray;
}

/********************************************************/

.myTableCell label {
    color : darkblue;
}

.myCellImage {
    background-image : url("star.svg");
    size  : 30px, 30px;
}


