#mainView {
    background-color : rgb(35, 35, 36);
}

#previewView {
    background-color : #171c1c;
    border-radius    : 5px;
	border-width     : 1px;
    border-color     : rgb(92,93,94);
    border-style     : solid;
}

#textView {
    background-color : transparent;
    border-radius    : 5px;
    border-width     : 1px;
    border-color     : rgb(92,93,94);
    border-style     : solid;
}

@media (device-os-version: '7') {
    #previewView {
        top           : 90px;
    }
    #textView {
        top           : 90px;
    }
}
