extends ../../web/templates/style-reference-base.jade

block content-column
  :markdown
    # Pixate Engine for iOS Styling Reference

    The Pixate Engine for iOS Styling Reference provides the details of the Pixate Engine from a designer's perspective. It summarizes the Pixate Engine's CSS3 support, and the style-able iOS native controls and their properties.

  include _styling-with-pixate.jade