extends ../../web/templates/style-reference-base.jade

block content-column
  :markdown
    # Pixate Freestyle for iOS Styling Reference

    This reference the explains Freestyle from a designer's perspective. It summarizes the Freestyle's CSS3 support, and the style-able iOS native controls and their properties.

  include _styling-with-freestyle.jade