
/* Style default navigation text styling, but not content (i.e. 'text') */
navigation-bar {
    font-family         : "American Typewriter";
    font-weight         : bold;
    font-size           : 14;
}

/* This creates a larger background that goes under the top status bar */
navigation-bar {
    background-image: linear-gradient(darkblue, rgba(200,200,255,0));
    background-size: 1 64; /* Use 44 to not go under the status bar */
    shadow: none;
}

/* Because the text itself is managed by the navigation-item (not nav bar),
 * this is where you change or transform the text itself.
 */
navigation-bar navigation-item {
    text-transform: uppercase;
}

/* Custom back indicator for the built-in back 'button' */
navigation-bar back-indicator {
    background-image: url(arrow.svg);
    background-size: 18;
}

/* This will apply to ALL default back 'buttons' */
navigation-bar button-appearance {
    color: green;
}

/* This will only work if you specified custom text which automatically creates a UIBarButtonItem */
navigation-bar back-bar-button {
    color: red;
}

/* Here we style a totally custom button that was added to our of our views */
.cancelButton {
    border-radius: 3pt;
    background-color: red;
    border-color: black;
    border-style: solid;
    border-width: 1;
}

.cancelButton attributed-text {
    text-shadow: 2 2 2 black;
    letter-spacing: 3;
    color: white;
    font-size: 13;
    font-weight: 200;
}

