
/*
 * In the case when using the standard built-in Back 'button',
 * this is how you would style it.
 */

navigation-bar {
    font-family         : "American Typewriter";
    font-weight         : bold;
    font-size           : 12px;
}

/* This will apply to ALL back buttons. */
/*
navigation-bar button-appearance {
    font-family         : "Times New Roman";
    font-weight         : bold;
    font-size           : 14px;
    color: red;
}
*/

/* This will only work if you specified custom text which automatically creates a BackBarButton */
navigation-bar back-bar-button {
    color: blue;
}

navigation-bar back-indicator {
    background-image: url(arrow.svg);
    background-size: 18;
}

