#label1 {
    color: orange;
}

#label2:highlighted attributed-text {
    color: blue;
}

#label3 attributed-text {
    color: red;
    letter-spacing: 4;
    text-transform: uppercase;
    text-decoration: letterpress;
}

#label4 attributed-text {
    color: green;
    text-decoration: line-through;
}

