.actionSheetButton {
    color            : #ffffff;
    font-family      : Arial;
    font-size        : 11px;
    font-weight      : bold;
    background-image : linear-gradient(#4787ed, #4d90fe);
    border-radius    : 2px;
    border-width     : 1px;
    border-color     : #3079ed;
}

#myActionSheet1 {
    background-image : url(gear.svg);
}

#myActionSheet1 label {
  font-family        : "American Typewriter";
  font-size          : 14px;
  font-weight        : bold;
  color              : #fff;
}
