#button1 {
    color           : #444444;
    font-family     : Arial;
    font-size       : 11px;
    font-weight     : bold;
    background-color: white;
    border-radius   : 2px;
    border-width    : 1px;
    border-color    : #dbdbdb;
}
#button2 {
    color           : #ffffff;
    font-family     : Arial;
    font-size       : 11px;
    font-weight     : bold;
    background-image: linear-gradient(#4787ed,#4d90fe);
    border-radius   : 2px;
    border-width    : 1px;
    border-color    : #3079ed;
}
#button3 {
    color           : #ffffff;
    font-family     : Arial;
    font-size       : 11px;
    font-weight     : bold;
    background-image: linear-gradient(#D14836,#DD4B39);
    border-radius   : 2px;
}
#button4 {
    color           : #444444;
    font-family     : Arial;
    font-size       : 11px;
    font-weight     : bold;
    background-color: white;
    border-radius   : 2px;
    border-width    : 1px;
    border-color    : #dbdbdb;
}
#button5 {
    color           : #ffffff;
    font-family     : Arial;
    font-size       : 11px;
    font-weight     : bold;
    background-image: linear-gradient(#4787ed,#4d90fe);
    border-radius   : 2px;
    border-width    : 1px;
    border-color    : #3079ed;
}
#button6 {
    color           : #ffffff;
    font-family     : Arial;
    font-size       : 11px;
    font-weight     : bold;
    background-image: linear-gradient(#D14836,#DD4B39);
    border-radius   : 2px;
}
