#label1 {
  font-size   : 14px;
  font-weight : regular;
  color       : #4787ed;
}

#label2 {
  font-size   : 24px;
  font-weight : regular;
  color       : #D14836;
}

#label3 {
  font-size   : 34px;
  font-weight : regular;
  color       : #222222;
}
