/* Note: color and current-color not supported on iOS 5.1 */

#page1 {
    background-color : #f3f3f3;
    color            : white;
    current-color    : #2d2d2d;
    border-radius    : 2px;
    border-width     : 1px;
    border-color     : #dbdbdb;
}
#page2 {
    color            : rgba(219, 231, 252, 0.5);
    current-color    : white;
    background-image : linear-gradient(#4787ed, #4d90fe);
    border-radius    : 2px;
    border-width     : 1px;
    border-color     : #3079ed;
}
#page3 {
    color            : #e5e5e5;
    current-color    : #2d2d2d;
}
