#seg1 {
    background-color : #f3f3f3;
    color            : #6e6e6e;
    border-radius    : 2px;
    border-width     : 1px;
    border-color     : #dddddd;
}
#seg1 divider {
    background-color : #dddddd;
    background-size  : 2 20;
}
#seg2 {
    background-color : #d2d2d2;
    color            : white;
    border-radius    : 2px;
}
#seg2 divider {
    background-color : #d2d2d2;
    background-size  : 2 20;
}
#seg3 {
    color            : #ffffff;
    background-image : linear-gradient(#4787ed, #4d90fe);
    border-radius    : 2px;
    border-width     : 1px;
    border-color     : #3079ed;
}
#seg3 divider {
    background-color : #3079ed;
    background-size  : 2 20;
}
