extends ../../web/templates/with-left-nav.jade
include ../../web/templates/video-mixin.jade

block topnav
  mixin nav({url:'transition-guide', title:'1.0 to 2.0 Transition Guide'})

block left-nav
  mixin left-nav(navItems)

block content-column
  :markdown
    <a id="introduction"></a>
    # Pixate 1.0 to 2.0 Transition Guide

    If you are upgrading your app from Pixate 1.0 to Pixate 2.0, you will need to change a few lines of code in order for your app to work correctly.

    Don't worry, it'll only take a few minutes.</p>

    If you're using Pixate for the first time, skip this guide and check out <a href="#{rootURL}/getting-started/index.html">Getting Started</a> instead.

    <a id="framework-setup"></a>
    ## Framework Setup

    Three important changes have been made to setup:

    - `PXEngine.framework` is now called `Pixate.framework`. Change all import statements and calls to the Pixate framework to reflect this. Calls to PXEngine are **deprecated**.
    - `[Pixate initializeFrameworkWithKey: forUser:]` has been switched back to `[Pixate licenseKey: forUser:]`. This call should be placed in the `@appreleasepool` block in your main.m.</li>
    - `CoreText.framework` and `QuartzCore.framework` must be added to your project. See the [Getting Started](#{rootURL}/getting-started/index.html) guide for instructions on adding them.

    <a id="css-name-changes"></a>
    ## CSS Name Changes

    Some of the style names have changed, mostly to adhere to CSS convention.

    | Old Name | New Name |
    | nav-buttons {} | bar-button {} |
    | font-align | text-align |
    | color: none | color: transparent |
    | background-top-inset | background-inset-top |
    | background-right-inset | background-inset-right |
    | background-bottom-inset | background-inset-bottom |
    | background-left-inset | background-inset-left |

    <a id="other-css-changes"></a>
    ## Other CSS Changes

    - `border-style` is required when defining borders. Only `none` and `solid` are supported at this time.
    - Linear gradient angles now correctly match the CSS specification. This includes the default angle when none is specified as well as explicit angle values.
    - Using gradients with `background-color` is **deprecated**. Set gradient backgrounds using `background-image`.
    - Multiple transforms in a transform property are now applied in the correct order.

    