/* Sliders */

.slider thumb {
    vertical-align:center;
    background-color: white;
    border: 1px solid #3385D5;
    background-size: 28 28;
    border-radius: 14px;
}

.slider min-track {
    background-image: linear-gradient(#3385D5, #3385D5);
    background-size: 4;
}

.slider max-track {
    background-image: linear-gradient(#f7f7f7, #f7f7f7);
    background-size: 4;
}
