/*
 * Typography
 * --------------------------------
 */


/* Headings */

.h1, .h2, .h3,
.h4, .h5, .h6 {
    font-family: $heading-font-family;
    font-weight: bold;
}

.h1 {
    font-size: 30pt;
    height: 34;
}

.h2 {
    font-size: 24pt;
    height: 28;
}

.h3 {
    font-size: 18pt;
    height: 22;
}

.h4 {
    font-size: 16pt;
    height: 20;
}

.h5 {
    font-size: $font-size-base;
}

.h6 {
    font-size: 12pt;
    height: 16;
}


/* Paragraph */

.p {
    font-family: $font-family-base;
    font-size: $font-size-base;
}

.p.small {
    font-size: $font-size-small;
    color: $gray-dark;
}


/* Alignment */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
