/*
 * Default.css
 */

/* Rounded button class */
.roundButtons {
    border-radius: 10;
}

/* Shadows for a button */
.shadow {
    box-shadow: 2 2 2 gray;
}

/* Set just a background color */
#button1 {
    background-color: lightgreen;
}

/* Use a linear gradient image */
#button2 {
    color: white;
    background-color: linear-gradient(white, blue);
}

/* Use an image from the assets catalog (Images.xcassets) */
#button3 {
    background-image: url(asset://yellow_background);
}

/* Use an SVG image from the main app resources */
#button4 {
    color: white;
    background-image: url(blue_background.svg);
}

#filter-button.selected #check-icon {
    border: 1px solid black;
    background-image : linear-gradient(red,blue);
}

#filter-button.normal #check-icon {
    border: 1px solid black;
    background-image :transparent;
}

#tf {
    color: #a4a4a4;
    background-color: transparent;
    border-width: 1px;
    border-color: #a4a4a4;
    border-style: solid;
    -ios-border-style: none;
    border-radius: 5;
}
