table-view-cell:selected{ 
    background-color: #4078BB;
}

.main table-view {
    row-height: 60px;
}

#t1 table-view-cell {
    background-color: yellow;
}

.correct table-view-cell {
    background-color: green;
}

.error table-view-cell {
    background-color: red;
}

table-view-headerfooter-view label {
    font-size: 14;
    font-family: "Gill Sans";
}

#t1 table-view-headerfooter-view label {
    color: blue;
}

#t2 table-view-headerfooter-view label {
    color: red;
}

