#label1 {
  font-size   : 14px;
  font-weight : regular;
  color       : white;
}

#label2 {
  font-size   : 24px;
  font-weight : regular;
  color       : white;
}

#label3 {
  font-size   : 34px;
  font-weight : regular;
  color       : white;
}
