/* UIPickerView styled by accessing the underlying
 * UITableView and UITableViewCells.
 */
#picker1 table-view {
  background-image   : linear-gradient(red,yellow); 
}

/* Currently works on iOS 5.1 only
#picker1 label {
  color   : yellow;
}
*/

#picker1 table-view-cell {
  background-image   : linear-gradient(yellow, red);
  opacity            : .7;
}

#picker2 table-view{
  background-image   : linear-gradient(red, blue);
}

/* Currently works on iOS 5.1 only
#picker2 label {
  color: white;
}
*/

#picker2 table-view-cell {
    background-image : linear-gradient(green, yellow);
    border-radius    : 20px;
    border-color     : black;
    border-width     : 4px;

}
