#tab-bar1 {
  color            : darkgreen;
}

#tab-bar2 {
  background-color : rgb(7,153,214);
  shadow           : url("tabBarShadow.png");
  color            : grey;
}

#tab-bar2 tab-bar-item {
  color            : white;
}

#tab-bar3 {
  background-image : linear-gradient(#cccccc, #f2f4f6);
  color            : darkgreen;
}

/* Use a custom vector image for the selected image. */
#tab-bar3 tab-bar-item:selected {
    shape: ellipse;
    background-image: linear-gradient(grey, white);
    box-shadow: inset 0 0 6 rgba(black, 0.5);
    background-size  : 30px 30px;
}

/* Use a custom vector image for the unselected image. */
#tab-bar3 tab-bar-item:unselected {
    shape: ellipse;
    background-image: linear-gradient(grey, white);
    box-shadow: inset 0 0 6 rgba(white, 0.75);
    background-size  : 30px 30px;
}

/* Place a rectangle around the current selection */
#tab-bar3 selection {
    shape: ellipse
    border-color: rgba(black, 0.3);
    border-width: 4;
    background-size: 75 50;
}
