/* Scaled svg vector graphics file. Also note the
 * rotation transform applied to the view.
 */
#myContentView  {
    background-image : url(lion.svg);
    background-size  : 500 335;
}

#myContentView2  {
    background-image : url(lion.svg);
    background-size  : 120 120;
}

#previewView  {
    background-image : linear-gradient(45deg, black, red);
}

