#view1 {
  background-image : linear-gradient(#cfc0ab, #f1eee6);
}

#view2 {
  background-image : linear-gradient(#54616f, #687685);
}

#view3 {
  background-image : linear-gradient(#c7482c, #df5132);
}
