- var pages = []

mixin nav(current_page)
  - var pages = []
  - pages.push({url:'getting-started/index.html', title:'Getting Started'})
  - pages.push({url:'themes/index.html', title:'Themes'})
  - pages.push({url:'style-reference/index.html', title:'Style Reference'})
  - pages.push({url:'dev-reference/index.html', title:'Developer Reference'})

  - if (!current_page) current_page = {title:'', url:''}

  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      .navbar-brand
        a.logo-docs(href='#{rootURL}/index.html')
          span.pixate-logo-dark Pixate
          span.logo-docs Docs


    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav.navbar-right
        - for (var i = 0 ; i < pages.length ; i++)
          - var liClass = current_page && current_page.url && (pages[i].title == current_page.title) ? "active" : "";
          li(class='#{liClass}'): a(href='#{rootURL}/'+pages[i].url)=pages[i].title



