extends ../../web/templates/with-left-nav.jade

block head
  title Pixate Freestyle for iOS Styling Reference

block scripts
  script(src='#{rootURL}/js/nested-nav.js')

block topnav
  mixin nav({url:'style-reference', title:'Style Reference'})

block left-nav
  mixin nested-left-nav(navItems)